{% extends 'TOEICTrainerBundle:Default:template.mc.sidebar.html.twig' %}



{% block title %}{{ parent() }}Listening / Conversations{% endblock %}



{% block page_title %}

    Talks

{% endblock %}



{% block page_subtitle %}

    Train yourself!

{% endblock %}



{% block main_content %}

    <div class="panel panel-info">

        <div class="panel-body">

            <h2>Talks <small>Listening exercise</small></h2>

            <hr />

            <p>Welcome in one of the four listening exercises. You are in the <strong>training area</strong>.</p>

            <p>You will be shown a random exercise to complete.</p>



            {# TODO #}

            <p>Remember that you can see your score in your profile account.</p>

        </div>

    </div>



    <div class="panel panel-warning">

        <div class="panel-body">

            Please review the rules on the right, in the bold text.

        </div>

    </div>



    <div class="panel panel-danger">

        <div class="panel-body">

            <h2><a href="{{ path('tn.toeic.exercices.main_page.listening.talks.train') }}">Begin</a></h2>

        </div>

    </div>

{% endblock %}



{% block right_menu %}

    <div class="panel panel-info">

        <div class="panel-heading">

            <h4 class="panel-title">Instructions</h4>

        </div>

        <div class="panel-body">

            <p>The listening part of the test is composed of four different exercises.</p>
            <ul>
                <li>
                    In the first exercise we have photography and description, the goal of this exercise is to find the description that best correspond to the photography.
                </li>
                <li>
                    In the second exercise we hear question and multiple answer and we have to find the best answer for the question.
                </li>
                <li>
                    For the third exercise we hear conversations and read questions, the goal is to select the correct written answer to the question.
                </li>
                <li  class="lead">
                    Finally, in the last exercise we hear talks and read question and the goal is to select the answer that correspond to the question.
                </li>
            </ul>

        </div>

    </div>

{% endblock %}