{% extends 'TOEICTrainerBundle::base.html.twig' %}
{% block title %}{{ parent() }}Home{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Welcome to TOEIC Trainer !</h1>
        <p>TOEIC Trainer is a website to help you improve your english by doing TOEIC-like exercises. Like the real TOEIC, our test is made of two distinct part: a <strong>Listening part</strong> and a <strong>Reading part</strong>.</p>
    </div>
{% endblock %}

{% block completebody %}
    <div class="panel panel-info">
        <div class="panel-body">

            {# Row type 2 #}
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            {# Image here #}
                            <img src="{{ asset('bundles/toeictrainer/img/TOEICtrainer.big.png') }}" class="img-responsive" alt="TOEIC Trainer">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            {# Text here #}
                            <h2 class="text-center">Welcome on this website!</h2>
                            <p class="text-justify" style="font-size: 20px">
                                On this website, you will find various 
                                exercises that are supposed to train your 
                                english skills. The exercises are based on
                                the TOEIC's exercises.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            {# Row type 1 #}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            {# Text here #}
                            <h2 class="text-center">But why TOEIC exercises?</h2>
                            <p class="text-justify" style="font-size: 20px">
                                We used TOEIC's exercise as example of our 
                                exercises because everywhere, everyday, people 
                                are training to pass TOEIC exams. Nowadays, 
                                entreprises are using TOEIC scores to get an 
                                idea of your level in English.
                            </p>
                            <p class="text-center" style="font-size: 20px">
                                Welcome on board :).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            {# Image here #}
                            <img src="{{ asset('bundles/toeictrainer/img/index/toeic.jpg') }}" class="img-responsive" alt="TOEIC by ETS">
                        </div>
                    </div>
                </div>
            </div>

            {# Row type 2 #}
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            {# Image here #}
                            <img src="{{ asset('bundles/toeictrainer/img/index/gear.svg') }}" class="img-responsive" alt="Work in progress" width="270">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="panel">
                        <div class="panel-body">
                            {# Text here #}
                            <h2 class="text-center">Great! How do I start?</h2>
                            <p class="text-justify" style="font-size: 20px">
                                Wait wait! You have to remember something:
                            </p>
                            <p class="text-center" style="font-size: 20px">
                                <strong>All exercices are created by the 
                                visitors</strong>.
                            </p>
                            <p style="font-size: 20px">
                                If you feel you are becoming more fluent in 
                                English, we sure could use some help with
                                our content ;). Please don't forget to contribute!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="text-center">And now? Can I start?</h2>
            <p class="text-center" style="font-size: 20px">
                Sure thing ;). You can find the exercices at the top of every page. <strong>And..</strong> <br/>
                <strong>Have fun!</strong>
            </p>

        </div>
    </div>
{% endblock %}
