{% extends 'TOEICTrainerBundle::base.html.twig' %}
{% block title %}{{ parent() }}Home{% endblock %}

{% block completebody %}
    <div class="jumbotron">
        <h1>Welcome to TOEIC Trainer !</h1>
        <p>TOEIC Trainer is a website to help you improve your english by doing TOEIC-like exercises. Like the real TOEIC, our test his made of two distinct part: a <strong>Listening part</strong> and a <strong>Reading part</strong>.</p>
    </div>
    {% block body %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">How to use this website</h4>
          </div>
            <div class="panel-body">
                <p>Sup mate</p>
            </div>
        </div>
    {% endblock %}
{% endblock %}
