{% extends 'TOEICTrainerBundle::base.html.twig' %}
{% block title %}{{ parent() }}Home{% endblock %}
{% block completebody %}
    <div class="jumbotron">
      <h1>Welcome to TOEIC Trainer !</h1>
      <p>TOEIC Trainer is a website to help you improve your english by doing TOEIC like exercises. Like the real TOEIC, our test his constituted of two distinct part : a Listening part and a Reading part.</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Listening part</h4>
            <p>The listening part of the test is composed of four different exercises. In the first exercise we have photography and description, the goal of this exercise is to find the description that best correspond to the photography. In the second exercise we hear question and multiple answer and we have to find the best answer for the question. For the third exercise we hear conversations and read questions, the goal is to select the correct written answer to the question. Finally, in the last exercise we hear talks and read question and the goal is to select the answer that correspond to the question.</p>
        </div>
        <div class="col-sm-6">
            <h4>Reading part</h4>
            <p>The reading part is composed of three different exercises. The first exercise consist in filling the blanks in incomplete sentences. In the second exercise we have to fill the blanks in a whole text. And finally in the last exercise we have multiple documents and questions and we have to answer correctly the question using the information in the documents.</p>
        </div>
    </div>
{% endblock %}
