{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
	<h1>Audio Entry Edition</h1>

	{{ form(edit_form) }}

	<ul class="record_actions">
	    <li>
	        <a href="{{ path('audiofile') }}">
	            See the list of Audio Entries we have
	        </a>
	    </li>
	    <li>
	        <a href="{{ path('audiofile_newSound') }}">
	            Create a new sound
	        </a>
	    </li>
	    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
