{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>AudioFile creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('audiofile') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
