{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>Edition of a Photograph With Listenings</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('listeningphotographs') }}">
            Back to the list
        </a>
    </li>
    {# <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}
