{% extends 'TOEICTrainerBundle::base.html.twig' %}

{% block body -%}
    <h1>New Questions/Answers</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('answerquestion') }}">
            See the  list of Questions/Answers we have
        </a>
    </li>
</ul>
{% endblock %}
